<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-start">
        <a class="navbar-item">
            <span class="button is-primary">Good Food</span>
        </a>

        <a class="navbar-item" href="/">
            Home
        </a>

        <a class="navbar-item" href="/allproducts">
            Products
        </a>

        <a class="navbar-item" href="/basket">
            Basket
        </a>
    </div>

    <div class="navbar-end">
        <div id = "auth_btns" class="navbar-item">
        </div>
    </div>
    <script>
        (function () {
            let cookies = document.cookie.split("; ").map(elem => [...elem.split('=')])
            console.log(cookies)
            if (cookies.map(function (elem) { return elem[0] }).includes("token")) {
                document.getElementById("auth_btns").innerHTML = `<a class = "button is-primary" id = "logout">Logout</a>`
                document.getElementById("logout").addEventListener("click", function(event) {
                    event.preventDefault()
                    document.cookie = 'token=; Max-Age=-99999999;'
                })
            } else {
                document.getElementById("auth_btns").innerHTML = `<a class="button is-light" href="/login">Login</a>`
            }
        })()
    </script>
</nav>