{% extends "base.html" %}

{% block title %}
    Order form
{% endblock %}

{% block content %}
    {% if not items %}
        <p>Your basket is empty</p>
    {% else %}
        <table>
            <thead>
                <tr>
                    <td>Item</td>
                    <td>Price</td>
                    <td>Quantity</td>
                    <td>Total</td>
                    <td></td>
                </tr>
            </thead
            <tbody>
                {% for i in items %}
                    <tr>
                        <td>{{ i.product.name }}</td>
                        <td>{{ i.product.price }}</td>
                        <td>{{ i.quantity }}</td>
                        <td>{{ i.price }}</td>
                        <td><a href="{% url 'remove_basket' sbi=i.id %}">Remove</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="/addbasket/{{ product.id }}">Proceed to checkout</a>
    {% endif %}
{% endblock %}