{% extends "base.html" %}

{% block title %}
    Order form
{% endblock %}

{% block content %}
        <table>
            <thead>
                <tr>
                    <td>Item</td>
                    <td>Price</td>
                    <td>Quantity</td>
                    <td>Total</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                {% for i in items %}
                    <tr>
                        <td>{{ i.product.name }}</td>
                        <td>{{ i.product.price }}</td>
                        <td>{{ i.quantity }}</td>
                        <td>{{ i.price }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    <p><a href="/orderform">Order</p>
{% endblock %}