<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="shortcut icon" href="#">
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <table id="product-table">
      <tr>
        <td>Name</td>
        <td>Description</td>
        <td>Price</td>
        <td>Image</td>
        <td></td>
      </tr>
    </table>

    <form id="login-form" method="POST", action=".">
      <label for="username">Username</label>
      <input id="form-username" name="username" type="text" placeholder="Your Username">
      <label for="password">Password</label>
      <input id="form-password" name="password" type="password" placeholder="Your Password">
      <input type="submit" value="login">
    </form>

    <div id="shopping-basket-cont">
      <button id="show-basket">Show Basket</button>
      <table id="shopping-basket">
        <tr>
          <td>Name</td>
          <td>Price</td>
          <td>Quantity</td>
          <td>Total</td>
        </tr>
      </table>
      <form id="checkout-form" method="POST", action=".">
        <label for="shipping_addr">Shipping Address</label>
        <input type="text" name="shipping_addr" placeholder="Shipping Address">
        <button id="checkout-button" type="submit">Checkout</button>
      </form>
    </div>

    <script>
      fetch("http://127.0.0.1:8000/api/products/?format=json")
      .then(response => response.json())
      .then(data =>{ 
        console.log(data)
        data.forEach(element =>{
          //for each row in the data:
          //create a new <tr> element
          let table = document.getElementById("product-table")
          let newRow = document.createElement("tr")
          table.appendChild(newRow)
          //create td elements for name, desc, price
          let name = document.createElement("td") // <td> innerHTML </td>
          name.innerHTML = element["name"]
          newRow.appendChild(name)
          let desc = document.createElement("td")
          desc.innerHTML = element["description"]
          newRow.appendChild(desc)
          let price = document.createElement("td")
          price.innerHTML = element["price"]
          newRow.appendChild(price)
          //add each td to my tr element
          // <td> <img src=""> </td>
          let picturetd = document.createElement("td")
          let picture = document.createElement("img")
          picture.src = element['picture']
          newRow.appendChild(picturetd);
          picturetd.appendChild(picture)
          //add tr to table
          let buttoncontainer = document.createElement("td")
          let button = document.createElement("button")
          button.innerHTML = "Add to basket"
          button.addEventListener('click', function(){
            addToBasket(element['id']);
          });
          buttoncontainer.appendChild(button)
          newRow.appendChild(buttoncontainer);
        })
      });

      //event listener for login form
      let loginform = document.getElementById("login-form")
      loginform.addEventListener("submit", (event)=>{
        event.preventDefault();
        //get data out of form
        let user = document.getElementById("form-username").value
        let pass = document.getElementById("form-password").value
        //build post request to /token/
        fetch("http://localhost:8000/token/", {
          method:'POST',
          headers:{
            'Accept': 'application/json',
            'Content-Type': 'application/json'
          },
          body:JSON.stringify( {username:user, password:pass }) //{username: hlep, password:Testing123456}
        }).then(response => response.json()).then(function(data){
          console.log(data)
          window.token = data['token']
      });
        //extract token from the response
      }, true)


      function addToBasket(productId){
        if(window.token){
          fetch("http://localhost:8000/addbasket/"+productId+"?format=json",{
            method: 'GET',
            headers:{
              'Accept': 'application/json',
              'Content-Type': 'application/json',
              'Authorization': 'Token '+window.token
            }
          }).then(function(response){
            console.log(response)
            return  response.json()
          }).then(data=>console.log(data));
        }
        else{
          alert("Please log in to continue");
        }
      }

      function showBasket(){
        if(window.token){
          fetch("http://localhost:8000/basket/?format=json",{
            method: 'GET',
            headers:{
              'Accept': 'application/json',
              'Content-Type': 'application/json',
              'Authorization': 'Token '+window.token
            }
          }).then(response => response.json()).then(data => {
            data['items'].forEach(element =>{
              let table = document.getElementById("shopping-basket")
              let newRow = document.createElement("tr")
              table.appendChild(newRow)
              let name = document.createElement("td") // <td> innerHTML </td>
              name.innerHTML = element['product']
              newRow.appendChild(name)
              let price = document.createElement("td") // <td> innerHTML </td>
              price.innerHTML = element['price']
              newRow.appendChild(price)
              let quantity = document.createElement("td") // <td> innerHTML </td>
              quantity.innerHTML = element['quantity']
              newRow.appendChild(quantity)
              let total = document.createElement("td") // <td> innerHTML </td>
              total.innerHTML = element['quantity']*element['price']
              newRow.appendChild(total)
            })
          });
        }
        else{
          alert("Please log in to continue");
        }
      }

      let showbb = document.getElementById("show-basket")
      showbb.addEventListener("click", (event)=>{
        event.preventDefault();
        showBasket();
      })


      let checkoutbutton = document.getElementById("checkout-button");
      checkoutbutton.addEventListener("submit", (event)=>{
        event.preventDefault();
        //get shipping addr value
        sp_addr = document.getElementById("shipping_addr").value;
        fetch("http://localhost:8000/checkout/?format=json", {
          method:'POST',
          headers:{
            'Accept': 'application/json',
            'Content-Type': 'application/json',
            'Authorization': 'Token '+window.token
          },
          body:JSON.stringify( {shipping_addr:sp_addr}) //{username: hlep, password:Testing123456}
        }).then(function(response){
          console.log(response)
          return response.json()
        }).then(function(data){
          console.log(data)
        })
      }, true);
    </script>
  </body>
</html>