<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="shortcut icon" href="#">
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <table id="product-table">
      <tr>
        <td>Name</td>
        <td>Description</td>
        <td>Price</td>
      </tr>
    </table>

    <form id="login-form" method="POST", action=".">
      <label for="username">Username</label>
      <input id="form-username" name="username" type="text" placeholder="Your Username">
      <label for="password">Password</label>
      <input id="form-password" name="password" type="password" placeholder="Your Password">
      <input type="submit" value="login">
    </form>

    <script>
      fetch("http://127.0.0.1:8000/api/products/?format=json")
      .then(response => response.json())
      .then(data =>{ 
        console.log(data)
        data.forEach(element =>{
          //for each row in the data:
          //create a new <tr> element
          let table = document.getElementById("product-table")
          let newRow = document.createElement("tr")
          table.appendChild(newRow)
          //create td elements for name, desc, price
          let name = document.createElement("td") // <td> innerHTML </td>
          name.innerHTML = element["name"]
          newRow.appendChild(name)
          let desc = document.createElement("td")
          desc.innerHTML = element["description"]
          newRow.appendChild(desc)
          let price = document.createElement("td")
          price.innerHTML = element["price"]
          newRow.appendChild(price)
          //add each td to my tr element
          //add tr to table

          //event listener for login form
          let loginform = document.getElementById("login-form")
          loginform.addEventListener("submit", (event)=>{
            event.preventDefault();
            //get data out of form
            let user = document.getElementById("form-username").value
            let pass = document.getElementById("form-password").value
            //build post request to /token/
            fetch("http://localhost:8000/token/", {
              method:'POST',
              headers:{
                'Accept': 'application/json',
                'Content-Type': 'application/json'
              },
              body:JSON.stringify( {username:user, password:pass }) //{username: hlep, password:Testing123456}
            }).then(response => response.json()).then(function(data){
              console.log(data)
            window.token = data['token']
          });
            //extract token from the response
          }, true)
        })
      });
    </script>
  </body>
</html>
