<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="shortcut icon" href="#">
</head>
<body>
<%- include('./partials/nav'); %>
<div class="container has-text-centered">
    <h1>Hello, Welcome to Good Food</h1>
    </br>
    <p>Our aim is to make fresh and organic food available for our customers at a cheaper price.</br> Good Food will
        always put you in a Good Mood!</p>
</div>
</body>
</html>